body{
	background-color: #EEEEEE;
	font-family: Arial;
}

h2{
	color: #574D4D;
}

.container{
	display: flex;
	justify-content: center;
}

.box{
	border-style: solid;
	border-width: 3px;
	background-color: white;
	width: 50%;
}

header{
	text-align: center;
}

header h1{
	color: #950740;
}

#nav-links{
	padding-top: 12px;
	background-color: #950740;
	height: 30px;
}

#nav-links a{
	color: white;
}

#nav-links a:link{
	text-decoration: none;
}

#nav-links a:visited{
	text-decoration: none;
}

#nav-links a:hover{
	text-decoration: none;
	color: #574D4D;
}

#nav-links a:active{
	text-decoration: none;
	color: #574D4D;
}

.posts{
	margin-left: 10px;
	margin-right: 10px;
}

#image-section{
	float: left;
	width: 200px;
	height: 200px;
	background-color: #574D4D;
	margin-right: 10px;
}

#personalImage{
	margin-left: 4px;
	margin-top: 4px;
	width: 192px;
	height: 192px;
}

#info-section{
	float: left;
	width: 250px;
	height: 250px;
	background-color: #574D4D;
	margin-right: 10px;
}

#info-section h3{
	color: white;
	margin: 4px;
}

#info-section p{
	color: white;
	margin-top: 3px;
	margin-left: 15px;
	margin-bottom: 3px;
}